@line-height : 1.6em;
@main-font-size : 18px;
@result-font-size : 20px;
@info-font-size : 16px;
@slider-color : #505050;
@width : 50%;
@space : 24px;

.margin() {
    margin: 0 auto;
}


body,
html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: @line-height;
    font-size: @main-font-size;
    letter-spacing: 0.02em;
}

h2 {
    padding-top: 2%;
    margin-bottom: 0;
    letter-spacing: 0.05em;
}

#author {
    margin-top: 8px;
    margin-bottom: @space;
}

h4 {
    padding-bottom: @space;
    width : @width;
    .margin();
}

hr{
    width: @width;
}

.info {
    .margin();
    text-align: left;
    width: @width;
    font-size: @info-font-size;
    margin-bottom: @space;
}

#result {
    .margin();
    width: @width;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: @result-font-size;
    text-align: left;
}

#list {
    .margin();
    width: @width;
    padding: 16px 0;
    font-size: @main-font-size;
    text-align: left;
}


#textInput {
    width: 200px;
}



#tempSlider {
    -webkit-appearance: none;
    width: 180px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

#tempSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: @slider-color;
}

#tempSlider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: @slider-color;
}

#status {
    font-size: 12px;
}
